.contato {
  background-color: var(--cor-bg);
  padding-top: 100px;
}

.contato .conteudo {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: start;
  padding-bottom: 40px;
  width: 100%;
}

.infos {
  /* background-color: black; */
  padding: 0px 32px;
  border-radius: 0px 8px 8px 0px;
  max-width: 550px;
}

#contato h1 {
  margin-bottom: 16px;
  line-height: 1.1;
}

#contato p {
  max-width: 32ch;
  margin-bottom: 32px;
  color: var(--cor-02);
}

.infos ul {
  display: flex;
  flex-direction: column;
  color: #a9a9a9;
  gap: 12px;
}

.infos li a {
  display: flex;
  gap: 8px;
  width: max-content;
}

.infos li {
  position: relative;
}

.infos li::before {
  display: none;
  content: "●";
  position: absolute;
  left: -18px;
  color: #fff;
}

.infos li:hover::before {
  display: block;
  transition: 0.2s;
}

.infos li a:hover {
  transition: 0.3s;
  color: var(--cor-02);
}

.infos img {
  width: 16px;
}

.b8 {
  background-image: url("/img/parallax-3/1.png");
  display: grid;
  justify-content: center;
}

.b7 {
  background-image: url("/img/parallax-3/2.png");
}
.b6 {
  background-image: url("/img/parallax-3/3.png");
}

@media (max-width: 700px) {
  .contato {
    padding-top: 80px;
  }

  .contato .conteudo {
    display: flex;
    flex-direction: column;
    gap: 40px;

    & .formulario {
      order: 2;
    }

    & .infos {
      order: 1;
      padding-left: 0;
    }
  }
}
