header {
  position: sticky;
  top: 0;
  z-index: 5;
}

.header-bg {
  background-color: var(--cor-01);
  height: 60px;
  display: grid;
  align-items: center;
}

.header-bg.preto {
  background-color: var(--cor-bg);
  transition: 0.3s ease;
}

.header-bg.cinza {
  background-color: var(--cor-01);
  transition: 0.3s ease;
}

.header-bg.preto2 {
  background-color: var(--cor-bg);
  transition: 0.3s ease;
}

.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header ul {
  display: flex;
  gap: 80px;
  color: var(--cor-02);
}

.header .logo {
  max-width: 64px;
}

.header li {
  padding: 4px 8px;
  border-radius: 4px;
  position: relative;
}
.header li::before {
  display: none;
  content: "●";
  position: absolute;
  left: -8px;
}

.header li:hover::before {
  display: block;
  transition: 0.2s;
}
