#imoveis .bg {
  /* padding-left: 4%; */
  display: grid;
  justify-content: center;
}

#imoveis .titulo {
  max-width: 50ch;
  grid-column: 1/-1;
  margin-bottom: 32px;
}

#imoveis .conteudo {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 32px;
  align-items: start;
}

.item {
  display: grid;
  gap: 20px;
  border-radius: 8px;
}

.item p {
  max-width: 56ch;
  color: white;
  margin-bottom: 24px;
}

.item img {
  height: 100%;
  width: 100%;
}
.adicionais {
  gap: 20px;
}

.titulo-item h2 {
  font-size: 2rem;
  color: white;
}
.titulo-item span {
  font-size: 1rem;
  color: grey;
}

.mapa iframe {
  width: 100%;
  height: 200px;
  border-radius: 8px;
}

@media (max-width: 400px) {
  .mapa {
    height: 340px;
  }
}

.informacoes-item {
  color: white;
}

.informacoes-item h3 {
  text-transform: uppercase;
  font-size: 1rem;
  margin-bottom: 16px;
}

.informacoes-item h3::after {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background-color: gray;
  margin-top: 8px;
}
.adicionais {
  background-color: black;
  padding: 12px 18px;
  border-radius: 8px;
}
.informacoes-item ul {
  margin-bottom: 12px;
}

.informacoes-item ul li {
  display: flex;
  justify-content: space-between;
  font-size: 0.875rem;
  margin-bottom: 8px;
}

.informacoes-item li span {
  font-weight: bold;
}
