.font-1-s {
  font: 400 0.875rem/1.5 "Urbanist", sans-serif;
}

.font-1-m {
  font: 400 1rem/1.5 "Urbanist", sans-serif;
}

.font-1-g {
  font: 600 1.2rem/1.5 "Urbanist", sans-serif;
}

.font-1-T {
  font: 700 1rem/1.5 "Urbanist", sans-serif;
  letter-spacing: 1px;
}

.font-1-gg {
  font: 700 1.5rem/1.5 "Urbanist", sans-serif;
  letter-spacing: 1px;
}

@media (max-width: 700px) {
  .font-1-s {
    font-size: 1rem;
  }

  .font-1-g {
    font-size: 1.5rem;
  }
}

/* cores */

:root {
  --cor-01: #4b4b4b;
  --cor-02: #f7f7f7;
  --cor-03: #333;
  --cor-04: #111;
  --cor-bg: #060606;
}
